
*{
  margin :auto;
  font-family: "Rounded Mplus 1c";
}


h1{
  font-size: 18px;
  margin-top: 70px;
  margin-left: 30px;
  margin-bottom: 25px;
  color: #585858;
}

h2{
  color: #6E6E6E;
  margin-bottom: 0.8rem;
  clear: both;
}

h3{
  margin-left: 0px;
  margin-bottom: 10px;
}

p{
    font-size: 13px;
}


.modal-content {
  float: left;
  margin-left: 150px;
  margin-top: 100px;
  color: #6E6E6E;
  margin-right: 0px;
  clear: right;
}

.picture{
  float: right;
  margin-top: 140px;
  clear: right;
}

.menu{
  float: left;
  width: auto;
  clear: both;
}

.list {
  margin-left: -10px;
  list-style:none;
  margin-bottom: 13px;
  color: #6E6E6E;
  font-size: 13px;
}


.select {
  display: inline-block;
  margin:10px;
}


.contents ul{
  margin-top: 2rem;
  margin-left: 0px;
  margin-right: 0px;
}


.list:hover {
  background-color:#ddd;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

a:hover img{
    cursor:default;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.area {
  display: flex;
  float: left;
  text-align: center;
  color: #6E6E6E;
  padding: 0.5em 1em;
  margin-top: 100px;
  width: 70px;
  height: 70px;
  font-weight: bold;
  border: solid 1px #6E6E6E;
  clear: both;
}

div .contents{
  width:auto;
  height: auto;
  margin-left: 0px;
}

.contents ul{
  padding-left: 0;
  width:auto;
  height: auto;
  margin-left: 0px;
}

.contents li{
    margin-left: 0px;
}

a{
  cursor:default;
  text-decoration: none;
  color : #6E6E6E;
}

.massege{
  width: 400px;
  height: 500px;
  font-size: 13px;
  margin-top: 0px;
}

.container{
  float: right;
  width: 1007px;
  margin: 0;
  overflow: hidden;
}

.grid{
  margin-bottom: 15rem;
}

.grid-item {
  border: 0.5px #D8D8D8 solid;
  overflow:hidden;
  background-color: #000000;
  margin-left: 10px;
  margin-right: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.grid-item--sub {
  width: 190px;
  height: 190px;
}

.grid-item--main{
  width: 592px;
  height: 392px;
}

.grid-item--main2{
  width: 391px;
  height: 391px;
}

.grid-item--width {
    width: 592px;
    height: 190px;
  }

.grid-item--height {
  width: 190px;
  height: 391px;
}

.grid-item--mini {
  width: 40px;
  height: 40px;
}


@media screen and (max-width: 1024px){

  .menu{
    width: 80px;
    margin-bottom: 30px;
    font-size: 13px;
  }

  .container{
    width: 620px;
  }

  .grid-item--main2{
    width: 291px;
    height: 291px;
  }

  .grid-item--sub {
    width: 140px;
    height: 140px;
  }

  .grid-item--width {
      width: 290px;
      height: 140px;
    }

  .grid-item--height {
    width: 290px;
    height: 140px;
  }

  .grid-item--main {
    width: 290px;
    height: 290px;
  }
}


@media screen and (max-width: 667px){
  h4{
    margin-bottom: 10px;
  }

  .grid{
    margin-bottom: 5rem;
  }

  .menu{
    display: inline-block;
    width: 100%;
    margin-bottom: 7px;
  }

  .list {
    float: left;
    width: 25%;
    font-size: 13px;
  }

  .container{
    width: 318px;
  }


  .grid-item--sub {
    width: 90px;
    height: 90px;
  }

  .grid-item--main {
    width: 192px;
    height: 192px;
  }


  .grid-item--width {
      width: 190px;
      height: 90px;
    }

}

.hidden-concept {
  display: none;
}
